@model Person;

<div class="card">
    <img src="@Model.Image" alt="Avatar" style="width:30%">
    <div class="container">
        <h3>@Model.Id</h3>
        <h4><b>@Model.Name</b></h4>
        <p>@Model.Title</p>
    </div>
</div>
