@model List<Post>

<!DOCTYPE html>
<html>
<head>
    <style>
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }

            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }

            tr:nth-child(even) {
              background-color: #dddddd;
            }
    </style>
</head>
<body>

    <h2>Post Table     <a asp-controller="Post" asp-action="Create" > + Create</a></h2>

    <table>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Actions</th>
        </tr>
      
        @foreach (var row in @Model)
        {
            <tr>
                <td>@row.Id</td>
                <td>@row.Title</td>
        
                <td>
                    <a asp-controller="Post" asp-action="View" asp-route-id="@row.Id">View</a>
                    <a asp-controller="Post" asp-action="Edit" asp-route-id=@row.Id">Edit</a>
                    <a asp-controller="Post" asp-action="Delete" asp-route-id=@row.Id">Delete</a>
                </td>
            </tr>
        }
    </table>

</body>
</html>

