<html>
    <head>
        <title>Web Dynamique</title>
    </head>
    <body>

     <div>

    <h1>This is our first page in dot net </h1>
    </div>

    <button onclick="myFunction()">Click me</button>


    <script>
        alert("test")
            function myFunction(){
            alert("clicked");
        }
    </script>
      
    </body>
</html>