<h1>This is my privacy page </h1>


@section beforeContent {
        <h1>This is my custom section</h1>
}

@section customCss{
    <style>
        h1{
            color:red !important;
        }
    </style>
}